
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    font-family:'Inter';   
}

 /* shared styles */
.display-flex{
    display: flex;
}
 /* header styles */
.header-box{
    border: 1px solid;
    padding:16px 200px 16px 200px;
    background: rgba(26, 11, 46, 1);
}


 /* navbar related styles */
 .h-txt-h{
   color:#FFFFFF;
}


 .navbar{
    justify-content: space-between;
   }
   
 .nav-item{
    list-style: none;
    margin-left: 32px;
     
 }
 .logo-img{
width: 219px;
height: 32px;
 }
 

 
 .nav-links{
    
 }
 .nav-link{
    color: #FFFF;
    text-decoration: none;
 }
 .btn-primary{
 font-size: 16px;
 font-weight: 600;
 background:linear-gradient(135deg,#ff3fcf,#ffb347);
  padding:10px 15px 10px 15px;
   border-radius: 1000px;
   box-sizing: border-box;
   align-items: center;
 }

 
 /* hero-section */
 #banner{
  position: relative;  
   height: 100vh;
   background-image:  url(../assets/hero-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
     
 }
 .hero-parent{
   
  position: relative;
  width: 100%;
  min-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;


   }
   .circle-box{
      justify-items: center;
      align-items: center;
      
   }

 .circle{
  width:250px;
  height:250px;
  border-radius:50%;
  background: linear-gradient(135deg,#ff3fcf,#ffb347);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 } 
 .mic{
   position: relative;
  justify-content: center;
  align-items: baseline;
   top:-15px;

 }
 .hero-content{
   position: absolute;

  bottom: 70px;          
  left: 50%;             
  transform: translateX(-50%);

  margin-top: 40px;      

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-txt{
 color: #FFFFFF;
}
.hero-txtp{
color: rgba(255,255, 255, 0.6);
   font-size: 1rem;
   font-weight: 400;;
}
.hero-btn{
   display: flex;
   gap: 10px;
}
.btn-display{

   padding: 12px 20px 12px 20px;
   border-radius: 1000px;
   background: linear-gradient (135deg,#ff3fcf,#ffb347);
   
   justify-content: center;

}
.btn-display2{
   padding:10px 15px 10px 15px;
   border-radius: 1000px;
   box-sizing: border-box;
}



/* container style */
#container{
   
   width: 100%;
max-width: 1600px;
margin: 0 auto;
border: 1px solid red;
background:rgba(26, 11, 46, 1) ;
}
.container-text{
   text-align: center;
   justify-content: center;
   padding:16px 200px 120px 200px;
}
.header{
color: #FFFF;
font-size: 2.8rem;
font-weight: 700;

}
.description{
color:#FFFF;
font-size: 16px;
font-weight: 400;
}

.boder{
   width:93.75%;
   height: 0;
   padding: 0 auto 0 auto;
   border: 1px solid white;

}
.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    text-align: center;
    margin-top: 40px;
   flex-wrap: wrap;
}
.card-font{
color: #00FF88;
font-size: 48px;
font-weight:900;

}
.p-text{
   color: rgba(255,255, 255, 0.6);
   font-size: 1rem;
   font-weight: 400;


}
/* FEATURES */
.fu-content{
   background-color:#24063a ;
}

#features>*{
   
   background-color:#250D44; 
   border-radius: 20px;
   padding: 1.9rem;
   overflow: hidden;
}
.navber{
   grid-area:navber;
}
.mainber{
   grid-area:mainber;
}
#community{
   grid-area:community;
}
#interviews{
   grid-area:interviews;
}
#resources{
   grid-area: resources;
}
#features{
    display: grid;
    gap:20px;
    margin:0 50px 0 50px;
    padding:80px;
    grid-template-areas: 
    "navber mainber mainber"
    "navber community community"
    "interviews interviews resources"
    ;

}
.fu-txt{
   color: #FFFFFF; 
font-size:1.5rem;
font-weight:700;
padding: 5px;
}
.fp-txt{
   color: rgba(255,255, 255, 0.6);
   font-size: 1rem;
   font-weight: 400;
   padding: 5px;

}
 
/* EPISODES */
.epi-header{
   color: #FFFF;
    font-size:3rem;
    font-weight: 700;
    margin-bottom: 40px;
   text-align: center;
}
.episodes{
   width: 100%;
   min-height: 100vh;
background-color: #24063a;
margin:0 ;
 padding:40px 20px ; 
}
.episode-grid{
 display:grid;
  max-width:1000px;
  margin:0 auto;
 grid-template-columns: repeat(3,1fr);
  gap:25px;
 padding-bottom:40px;

}
.episode{
background:#250D44;
border-radius:20px;
overflow:hidden;
}
.episode iframe{
width:100%;
height:12.5rem;
object-fit:cover;
}
.episode .content{
padding:24px;
color: #FFFFFF;
}
.episode-text{
    font-size:24px;
   font-weight:700;  
   color: #FFFFFF;
}
.episode-p{
   font-size:1em;
    font-weight: 400;
    color: rgba(255,255, 255, 0.6);
}
.time{
   display: flex;
   gap:5px;
   color: #00FF88;
}


/* host */
.twitter{
  background-color: linear-gradient(135deg,#ff3fcf,#ffb347);
}
#host{
   background-color: #24063a;
   align-items: center;
}
.host-box{
   display: flex;
 max-width:900px;
 margin:0px auto;
 
 background:#250D44;
 border-radius:40px;
 
 padding:30px;
  padding-top:30px;
   gap:30px;
  align-items:center;
margin-bottom:px;

}

.h-text{
   color: #FFFFFF;
     font-size:2rem;
   font-weight:700;
   
}
.h-p-text{
   font-size:1rem;
    font-weight: 400;
    color: rgba(255,255, 255, 0.6);
}
.img-all{
}

/* footer */
#footer{
  background-image: url(../assets/footer-bg.png);
   background-repeat: no-repeat;
  background-size: cover;
   background-position: center;
    padding: 80px 0;
}
.img-footer{
   display: flex;
    justify-content: center;
     align-items: center;
    gap: 60px;
    color: rgba(255,255, 255, 0.6);
   margin-top: 40px;
  flex-wrap: wrap;

}
.footer-item{
   display: flex;
    flex-direction:row;
    align-items: center;
  gap: 8px;
  
}
.footer-item p{
   display: flex;
   
   margin:0;
   font-size:14px;
   color:#fff
}
#footer h1{
   font-size:3.8rem;
    font-weight: 800;
   text-align: center;
}
#footer h4{
   font-size: 1.rem;
   font-weight: 400;
   text-align: center;
   color: rgba(255,255, 255, 0.6);
   padding:30px ;
}
.f-img{
    display: block;
  margin: 0 auto;
}


@media screen and (max-width: 576px) {
  

   #features{
   grid-template-areas:

     "navber"
    "mainber"
    "community"
    "interviews" 
    "resources"
   }

   
    
}
   
   


 
  
 
 